/altium/History
/altium/Project_Logs_for_SensorMotherBoard
/altium/__Previews
/altium/CurrentSensorBoard.step
/altium/Project Outputs for SensorMotherBoard/
/altium/SensorMotherBoard 5-20-2020 12-36-08 AM.WAS


.PrfPcbStructure
.OutJob
.log


